# **************************************************************************** #
#                                                                              #
#                                                         :::      ::::::::    #
#                                                       :+:      :+:    :+:    #
#    .gitignore                                       +:+ +:+         +:+      #
#                                                   +#+  +:+       +#+         #
#    By: troberts <troberts@student.42.fr>        +#+#+#+#+#+   +#+            #
#                                                      #+#    #+#              #
#                                                     ###   ########.fr        #
#                                                                              #
# **************************************************************************** #

# Default rules
*.out
*.swp
*.gch
*.o
*.code-workspace
.DS_Store
.vscode
.devcontainer
obj/
*.a
*.log
.cache
a.out.dSYM
compile_commands.json

# Specific files
file1
file2
pipex

# Specific folders
pipex-tester
pipexMedic
other
PIPEX_TESTER
pipex_tester_42
ft_mallocator
